/* GLOBAL VARIABLES */

:root {
 --main-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 150'%3E%3Cpath d='M 0 100 L 300 30 L 300 160 L 0 200' fill='dodgerblue' stroke='dodgerblue' /%3E%3C/svg%3E");
--maj-font: 'Bebas Neue', cursive;
--min-font: 'Oswald', sans-serif;
}

html,body {
 height: 100%;
 width: 100%;
 font-size: 100%;
}

* {
margin: 0;
padding: 0;
}

.App {
 width: 100%;
 font-size: 100%;
}

/* HEADER STYLES */

.main-header {
z-index: 2;
}

.logo-img {
 height: 2em;
 display: inline-block;
}

.logos {
height: 2em;
}

.logos > * {
vertical-align: middle;
}

.header {
width: 100%;
height: 15vmin;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 2%;
padding-right: 2%;
background: white;
box-sizing: border-box;
align-items: center;
box-shadow: 0px 0px 5px gray;
min-height: 50px;	
}
	
.logo {
font-family: var(--maj-font);
color: dodgerblue;
text-decoration: none;
display: inline-block;
margin-left: 1em;
height: 2em;
}

.login-but {
font-family: var(--maj-font);
background: none;
border: none;
border-bottom: 3px solid dodgerblue;
font-size: 1em;
}

main {
min-height: 600px;
}

.header > nav {
width: 40%;
}

.header > nav > ul {
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

li {
font-family: var(--maj-font);
transition: color 0.2s ease;
color: black;
}

li:hover {
color: dodgerblue;
}

li:active {
color: dodgerblue;
}

/* FOOTER STYLES */ 

footer {
background: dodgerblue;
z-index: 0;
height: 30vmin;
box-shadow: 0px -10px 0px dodgerblue;
}

footer > p {
height: 30vmin;
line-height: 30vmin;
font-family: var(--min-font);
color: white;
text-align: center;
}

.logo-img-2 {
 height: 5em;
margin-bottom: 3em;
}

.bar {                                                                   width: 100;                                                             height: 20%;         
 margin-top: 20%;
 border-radius: 2px;
 background-color: dodgerblue;                     
}

 .bar:first-child {
   margin-top: 0;
 }

 .nav-icon {
   width: 2em;
   height: 2em;
 }

.nav-box {
 display: none;
 width: 2em;
 height: 2em;
 z-index: 1;
}

.mobile > button {
 margin: auto;
 display: block;
}

.mobile {
 position: absolute;
 background-color: white;
 width: 150px;
 transform: translateX(calc(-150px + 2em)) translateY(1em);
 min-height: 225px;
 display: flex;
 padding-top: 5%;
 padding-bottom: 5%;
 box-shadow: 0px 0px 5px gray;
}

.mobile > nav > ul {
 list-style-type: none;
 font-size: 1.2em;
 width: 100%;
 text-align: center;
 display: flex;
 flex-direction: column;
 margin-bottom: 20%;
}

.mobile > nav > ul > li {
 margin-bottom: 10%;
} 

.link {
 color: black;
 text-decoration: none;
}

.link:hover:active {
 color: dodgerblue; 
}

.login-but-mobile {
 margin: auto;
 display: block;
}

.home {
grid-template-columns: 50% 50%;
grid-template-rows: none;
}

/* TYPOGROPHY CONTROL */

/* phones */

@media (max-width: 411px) {

header {
  font-size: calc(0.5rem + 2vw);
}

.intro {
 font-size: calc(0.5rem + 1vw);
}

.desktop {                                                                                     display: none;
}                                                                                                                                                                                           .nav-box {
  display: block;
 }
}

/* tablets */

@media (min-width: 412px) and (max-width: 768px) {
 
}

@media (max-width: 768px) {

  .desktop {
  display: none;                                                                }
                                                                              .nav-box {
  display: block;
 }

 .home {
grid-template-columns: none;
grid-template-rows: auto auto;
}

.graph > div {
 animation-name: rotateM;
}

.login-box {                                        
  width: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(white,white,dodgerblue);
  border-radius: 0;
  box-shadow: none;
 }                      
  
 .signup-box {                                       
   width: 100%; 
   box-sizing: border-box;
   background-image: linear-gradient(white,white,dodgerblue);                   border-radius: 0;  
   box-shadow: none; 
 }

.login {
 background-image: none;
 background-color: dodgerblue;
}

.signup {
 background-image: none;
 background-color: dodgerblue;
}
}

/* laptops */

@media (min-width: 769px) and (max-width: 1366px) {
 
}

@media (orientation: landscape) {
  .signup {
    padding-bottom: 20vmin;
  }

  .login {
     padding-bottom: 20vmin;
  }
}

